@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko-Bold.ttf') format('ttf'),
         url('../assets/fonts/Teko-Bold.woff') format('woff'),
         url('../assets/fonts/Teko-Bold.woff2') format('woff2'),
         url('../assets/fonts/Teko-Bold.eot') format('eot');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko-Light.ttf') format('ttf'),
         url('../assets/fonts/Teko-Light.woff2') format('woff2'),
         url('../assets/fonts/Teko-Light.woff') format('woff'),
         url('../assets/fonts/Teko-Light.eot') format('eot');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko-Medium.ttf') format('ttf'),
         url('../assets/fonts/Teko-Medium.woff2') format('woff2'),
         url('../assets/fonts/Teko-Medium.woff') format('woff'),
         url('../assets/fonts/Teko-Medium.eot') format('eot');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko-Regular.ttf') format('ttf'),
         url('../assets/fonts/Teko-Regular.woff2') format('woff2'),
         url('../assets/fonts/Teko-Regular.woff') format('woff'),
         url('../assets/fonts/Teko-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Teko';
    src: url('../assets/fonts/Teko-SemiBold.ttf') format('ttf'),
         url('../assets/fonts/Teko-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Teko-SemiBold.woff') format('woff'),
         url('../assets/fonts/Teko-SemiBold.eot') format('eot');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graduate';
    src: url('../assets/fonts/Graduate-Regular.ttf') format('ttf'),
         url('../assets/fonts/Graduate-Regular.woff2') format('woff2'),
         url('../assets/fonts/Graduate-Regular.woff') format('woff'),
         url('../assets/fonts/Graduate-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yesteryear';
    src: url('../assets/fonts/Yesteryear-Regular.ttf') format('ttf'),
         url('../assets/fonts/Yesteryear-Regular.woff2') format('woff2'),
         url('../assets/fonts/Yesteryear-Regular.woff') format('woff'),
         url('../assets/fonts/Yesteryear-Regular.eot') format('eot');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}